@media only screen and (max-width: 505px) {
  .navbar ul {
    width: 100vw;
    padding: 0px 10px;
    justify-content: space-between;
    font-size: 12px;
  }
  
  .navbar ul li {
    margin: 0px;
  }
  
  a svg{
    width: 16px;
  }
}
